* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_main {
    border-radius: 30px;
    padding-bottom: 20px;
  }
}

.bgColor {
  transition: all ease 0.5s;
  background-color: rgba(0, 255, 255, 0.4);
}
