.projectCard {
  box-sizing: border-box;
  width: 160px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid grey;
  border-radius: 20px;
  margin: 20px;
  background-color: whitesmoke;
  cursor: pointer;
  transition: all ease 0.4s;
  @media all and (min-width: 768px) {
    width: 200px;
    height: 250px;
  }
  &:hover {
    transform: scale(1.1);
  }
  &__name {
    /*  text-transform: uppercase; */
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
    color: rgb(87, 85, 85);
    @media all and (min-width: 768px) {
      font-size: 22px;
    }
  }
  &__image {
    width: 140px;
    border-radius: 10px;
    @media all and (min-width: 768px) {
      width: 180px;
    }
  }
  &__contact {
    list-style: none;
    display: inline;
    padding-top: 10px;
    &--item {
      display: inline;
      margin: 7px;
      font-size: 16px;
      @media all and (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
.blue {
  background: cyan;
}
