* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  padding: 30px;
  text-align: center;
  color: pink;
  font-size: 28px;
  @media all and (min-width: 768px) {
    font-size: 36px;
  }
  @media all and (min-width: 1200px) {
    font-size: 46px;
  }
}

.listContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
}
.white {
  color: white;
}
.articleProject {
  width: 250px;
  border-radius: 4px;
  border: solid 1.6px rgba(255, 255, 255, 0.6);
  padding: 10px 0;
  margin-top: 20px;
  margin: auto;
  @media all and (min-width: 768px) {
    width: 400px;
    margin-top: 27px;
    padding: 10px 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &--item {
      display: flex;
      /*    flex-direction: column-reverse; */
      font-size: 12px;
    }

    @media all and (min-width: 768px) {
      font-size: 16px;
    }

    &--icon {
      color: white;
      font-size: 22px;
      @media all and (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
