.projectCard {
  box-sizing: border-box;
  width: 160px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid white;
  border-radius: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all ease 0.4s;
  @media all and (min-width: 768px) {
    width: 200px;
    height: 250px;
  }
  &:hover {
    transform: scale(1.1);
  }
  &__name {
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    color: rgb(63, 62, 62);
    @media all and (min-width: 768px) {
      font-size: 22px;
    }
  }
  &__image {
    width: 140px;
    border-radius: 10px;
    @media all and (min-width: 768px) {
      width: 180px;
    }
  }
  &__contact {
    padding-bottom: 10px;
    &--item {
      display: inline;
      margin: 7px;
      font-size: 16px;
      @media all and (min-width: 768px) {
        font-size: 18px;
      }
    }
    &--link {
      color: rgb(68, 67, 67);
      &:hover {
        color: white;
      }
    }
  }
}

.blue {
  background: cyan;
}
