.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBio {
  color: white;
  padding: 50px 0 20px 0;
  @media all and (min-width: 768px) {
    font-size: 50px;
  }
}
.mainContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 1200px) {
    flex-direction: row;
    margin: 30px 100px;
  }
}
.text {
  padding: 20px;
  font-size: 18px;
}
.text1 {
  color: white;
}
.articleBio {
  border: 2px solid white;
  border-radius: 10px;
  margin: 20px 50px;
  @media all and (min-width: 1200px) {
    width: 50%;
    margin: 0 50px;
  }
}
.articleBio1 {
  background-color: rgba(0, 255, 255, 0.4);
}
.articleBio2 {
  background-color: rgba(255, 255, 255, 0.4);
}
