.footer {
  width: 50%;
  height: 30px;
  position: absolute;
  bottom: 20px;

  &_copy {
    text-align: center;
  }

  &_link {
    color: white;
  }
}

.fa-paw {
  color: cyan;
}
