.footer {
  width: 50%;
  height: 50px;

  &_copy {
    text-align: center;
    transition: all ease 0.5s;
    &:hover {
      font-size: 16px;
    }
  }

  &_link {
    color: white;
    &:hover {
      color: cyan;
    }
  }
}

.fa-paw {
  color: cyan;
  &:hover {
    color: white;
  }
}
