@import '../core/reset.scss';

.main {
  width: 50vw;
  margin: 120px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: calc(50vh - 55px);
  @media all and (min-width: 768px) {
    margin: 40px 0;
  }
  &__title {
    font-size: 19.2px;
    font-weight: 900;
    color: #ffffff;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
}
.article {
  width: 180px;
  border-radius: 4px;
  border: solid 1.6px rgba(255, 255, 255, 0.6);
  padding: 10px 0;
  margin-top: 17.8px;
  @media all and (min-width: 768px) {
    width: 300px;
    margin-top: 27px;
    padding: 10px 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &--item {
      display: flex;
      flex-direction: column-reverse;
      font-size: 12px;
      &:hover {
        cursor: pointer;
      }

      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
    &--icon {
      color: cyan;
      font-size: 22px;
      transition: all ease 0.5s;
      &:hover {
        color: white;
        transform: scale(1.2);
      }
      @media all and (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
